.header {
    width: 100%;
    height: 7em;
    background-color: lightblue;
}

.back-link {
    max-width: 100%;
    height: 5.5em;
    line-height: 5.5em;
    padding: 0 2em;
    vertical-align: middle;
    border-bottom: .1em solid #000;
        
}

.back-link__wrapper {
    white-space: nowrap;
    overflow: hidden;
}

i { 
    vertical-align: middle;
}

.back-link__text {
    font-family: "Open Sans", Arial, sans-serif;
    font-weight: 700;
    font-size: 1.2em;
    color: #000000;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
}

.main {
    max-width: 335px;
    margin: 0 auto;
}

.item-photo {
    padding-top: 1.5em;
}

.main__img {
    height: 100%;
}

.item-photo__secondary-wrapper {
    display: flex;
}

.item-photo__secondary {

}


.item-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 100%;
    color: black;
}

.item__short-descr {
    margin-top: 3.5em;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 2em;
    text-align: center;
}

.item__price {
    margin-top: 1.5em;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 1.8em;
    text-align: center;
}

.item__long-descr {
    font-family: "Libre Baskerville", serif;
    font-style: italic;
    font-size: 1.3em;
    line-height: 3em;
    text-align: center;
}
.item-feature__wrapper {
    display: flex;
    flex-direction: column;
    margin-top: 2.0em;
}
.item-feature {
    display: flex;
    height: 6.0em;
}

.item-feature:last-of-type {
    margin-top: 3.0em;
}

.feature-title {
    width: 5.0em;
    padding-left: 1.0em;
    font-family: "Roboto", sans-serif;
    font-size: 1.2em;
    font-weight: 400;
    line-height: 6.0em;
}

.feature-variabels {
    display: flex;
    justify-content: space-between;
    margin-left: 1.0em;
}

.button {
    display: block;
    margin: 0 auto;
    background: #fff;
    color: #000;
    border: none;
    font-family: "Open Sans", sans-serif;
    font-size: 1.4em;
    font-weight: 700;
    max-height: 7.4em;
}

.button-active {
    border: #e5e5e5 .1em solid;
}

.button_item-features {
    min-width: 6em;
}


.btn__wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 6.5em 7.0em;
}

.button_call-to-action {
    width: 22.0em;
    height: 6.0em;
}

.banner__wrapper {
    width: 100%;
    height: 240px;
}

.banner {
    position: relative;
}

.banner-first {
    height: 100%;
    background-image: url(img/banner-first.jpg);
    background-color: #324063;
    background-size: cover;
}

.banner-second {
    background-image: url(img/banner-second.jpg);
    background-color: #c9cbcd;
    background-size: cover;
    display: none;
}

.banner-third {
    background-image: url(img/banner-third.jpg);
    background-color: #fff;
    background-size: cover;
    display: none;
}



.banner__text {
    position: absolute;
    right: 2.0em;
    top: 3.0em;
    z-index: 1;
    color: #fff;
    text-align: center;
}

.banner-second__text {
    top: 16em;
    right: 5em;
}

.banner-third__text{
    
}

.banner__title {
    font-family: "Open Sans", sans-serif;
    font-size: 2.0em;
    font-weight: 700;
}

.banner-third__title {
    color: #f14a58;
    
}

.banner__descr {
    font-family: "Lebre Baskerville", serif;
    font-size: 1.4em;
    font-weight: 400;
    font-style: italic;
    line-height: 2.6em;  
}

.banner-second__descr {
    font-family: "Roboto", sans-serif;
    font-style: normal;
}


@media screen and (min-width: 768px) {
    .main {
        max-width: 690px;
    }

    .back-link__text {
        font-size: 1.6em;
    }

    .item-photo {
        display: flex;
    }

    .item-photo__main {
        height: 345px;        
    }

    .item-photo__secondary-wrapper {
        flex-direction: column;
        justify-content: space-between;
        width: 100%;
    }

    .main__img{
        width: unset;
    }

    .item__long-descr {
        max-width: 450px;
        
    }
       
    .item-feature__wrapper  {
        align-items: center;
    }

    .banner__wrapper {
        width: 100%;
        height: 253px;
        display: flex;
    }

    .banner-first {
        flex-grow: 2;
    }

    .banner-second {
        display: block;
        flex-grow: 1;
    }

    .banner-first__text {
        right: 4.7em;
        top: 4.5em;
    }


}

@media screen and (min-width: 1300px){



    .banner__wrapper {
        height: 385px;
    }

    .banner-third{
        display: block;
        flex-grow: 1;
    }

    .banner__title {
        font-size: 28px;
    }




}